<mat-dialog-content>
    <img style="background-color:white" src="{{data.network.getImageName()}}" width="750px"/>
    <br />
    <div *ngIf="data.network.clkType">    
        <mat-form-field appearance="fill">
            <mat-label>Clock Type</mat-label>
            <mat-select [(value)]="data.network.clkType">
                <mat-option value="MEMWR*">MEMWR*</mat-option>
                <mat-option value="MEMRD*">MEMRD*</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <br />
    <div *ngIf="data.network.cs.length > 0">
        <b>Chip-Select</b><br />
        <span *ngFor="let cs of data.network.cs">
            {{cs.id}} - {{cs.hexAddress}}<br />
        </span>
    </div>
    <br />
    <div *ngIf="null != data.network.led">
        <b>LED</b><br />
        <span *ngIf="data.network.led">ACCESO</span>
        <span *ngIf="!data.network.led">SPENTO</span>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>
