<div class="btn-container">
    <!--
    <button mat mat-raised-button class="mr" (click)="setAuto()">
        <span class="btn">Auto Mode</span>
    </button>
    <button mat mat-raised-button class="mr" (click)="setManual()">
        <span class="btn">Manual Mode</span>
    </button>-->
    <button mat-raised-button class="mr" (click)="diagramService.isAuto() ? diagramService.setManual() : diagramService.setAuto()"> 
      <span class="btn" *ngIf="diagramService.isAuto()">Auto Mode <i class="fas fa-microchip"></i></span>
      <span class="btn" *ngIf="!diagramService.isAuto()"> Manual Mode <i class="fas fa-user"></i></span>
    </button>
</div>

<div class="btn-container" *ngIf="this.isAuto() === false">
    <!--
    <button mat-raised-button class="mr" (click)="onPause()">
        <span class="btn">Pause</span>
    </button>
    <button mat-raised-button class="mr" (click)="onResume()">
        <span class="btn">Resume</span>
    </button> -->
    <button mat-raised-button class="mr" (click)="diagramService.isPauseEnabled() ? diagramService.pause() : diagramService.resume()"
    [disabled]="!diagramService.isStopEnabled()"> 
      <span class="btn" *ngIf="!diagramService.isPauseEnabled()" >Resume <i class="fas fa-play green"></i></span>
      <span class="btn" *ngIf="diagramService.isPauseEnabled()">Pause <i class="fas fa-pause green"></i></span>
    </button>
    <button mat-raised-button class="mr" (click)="onStop()" [disabled]="!diagramService.isStopEnabled()">
        <span class="btn">Stop<i class="fas fa-square red"></i></span>
    </button>
    <button mat-raised-button class="mr" (click)="onLoad()">
        <span class="btn">Lettura</span>
    </button>
    <button mat-raised-button class="mr" (click)="onStore()">
        <span class="btn">Scrittura</span>
    </button>
    <!--
    <button mat-raised-button class="mr" (click)="onIdle()">
        <span class="btn">Idle</span>
    </button>-->
    <mat-form-field class="input-interval">
        <mat-label>Animation duration (ms)</mat-label>
        <input matInput type="number" name="animationDuration" [(ngModel)]="diagramService.dlxDiagrams.clock.animationDuration" min="1000">
      </mat-form-field>
</div>
<br>
<div class="diagrams">
    <div> 
        <span>CLOCK</span>
        <div class="diagram">
            <img class="{{diagramService.dlxDiagrams.clock.getAnimationClass()}}" [ngStyle]="{  'animation-duration': diagramService.dlxDiagrams.clock.getAnimationDuration() + 'ms',
                                                                                                'animation-play-state': diagramService.dlxDiagrams.clock.getPlayState(), 
                                                                                                'animation-iteration-count': 'infinite'}" src="{{diagramService.dlxDiagrams.clock.getImageName()}}" width="855" height="75" alt="clock-signal" />
        </div>
        <span>ADDRESS</span>
        <div class="diagram">
            <img class="{{diagramService.dlxDiagrams.address.getAnimationClass()}}" [ngStyle]="{'animation-duration': diagramService.dlxDiagrams.clock.getAnimationDuration() + 'ms',
                                                                                                'animation-play-state': diagramService.dlxDiagrams.address.getPlayState(),
                                                                                                'animation-iteration-count': '1',
                                                                                                'animation-fill-mode': 'initial'}" src="{{diagramService.dlxDiagrams.address.getImageName()}}" width="855" height="75" alt="address-signal" />
        </div>
        <span>MEMRD</span>
        <div class="diagram">
            <img class="{{diagramService.dlxDiagrams.memrd.getAnimationClass()}}" [ngStyle]="{  'animation-duration': diagramService.dlxDiagrams.clock.getAnimationDuration() + 'ms',
                                                                                                'animation-play-state': diagramService.dlxDiagrams.memrd.getPlayState(),
                                                                                                'animation-iteration-count': '1',
                                                                                                'animation-fill-mode': 'initial'}" src="{{diagramService.dlxDiagrams.memrd.getImageName()}}" width="855" height="75" alt="memrd-signal" />
        </div>
        <span>MEMWR</span>
        <div class="diagram">
            <img class="{{diagramService.dlxDiagrams.memwr.getAnimationClass()}}" [ngStyle]="{  'animation-duration': diagramService.dlxDiagrams.clock.getAnimationDuration() + 'ms',
                                                                                                'animation-play-state': diagramService.dlxDiagrams.memwr.getPlayState(),
                                                                                                'animation-iteration-count': '1',
                                                                                                'animation-fill-mode': 'initial'}" src="{{diagramService.dlxDiagrams.memwr.getImageName()}}" width="855" height="75" alt="memwr-signal" />
        </div>
        <span>DATA</span>
        <div class="diagram">
            <img class="{{diagramService.dlxDiagrams.data.getAnimationClass()}}" [ngStyle]="{   'animation-duration': diagramService.dlxDiagrams.clock.getAnimationDuration() + 'ms',
                                                                                                'animation-play-state': diagramService.dlxDiagrams.data.getPlayState(),
                                                                                                'animation-iteration-count': '1',
                                                                                                'animation-fill-mode': 'initial'}" src="{{diagramService.dlxDiagrams.data.getImageName()}}" width="855" height="75" alt="data-signal" />
        </div>
    </div>
</div>